.contenedor-especiales{
  position: relative;
top: -40px;
}

.darin{
  margin-top: 27px;
  margin-left: 27px;
}
.destacado-darin{
position: absolute;
left: 45px;
top: 480px;
}
.texto-darin{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  line-height: 20pt;
  margin-left: 27px;
  margin-top: 16px;
}

.carancho{
  float: right;
  margin-top: -515px;
  margin-right: 485px;
}
.destacado-carancho{
  position: absolute;
  left: 510px;
  top: 480px;
}
.texto-carancho{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  line-height: 20pt;
  margin-left: 485px;
  margin-top: -52px;
}

.agnes{
  float: right;
margin-top: -515px;
margin-right: 27px;
}
.destacado-agnes{
  position: absolute;
  float: right;
  left: 970px;
  top: 480px;
}
.texto-agnes{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  line-height: 20pt;
  float: right;
  position: relative;
  top: -52px;
  right: 85px;
}

.fecha3{
  color: #F4D03F;
  position: relative;
  top: -500px;
  margin-left: 45px;
  background-color: rgba(0,0,0,0.5);;
  padding-left: 17px;
  margin-right: 1180px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fecha4{
  color: #F4D03F;
  position: relative;
  top: -530px;
  margin-left: 500px;
  background-color: rgba(0,0,0,0.5);;
  padding-left: 17px;
  margin-right: 710px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fecha5{
  color: #F4D03F;
  position: relative;
  top: -555px;
  margin-left: 950px;
  background-color: rgba(0,0,0,0.5);;
  padding-left: 17px;
  margin-right: 260px;
  padding-top: 5px;
  padding-bottom: 5px;
}
