.f1 {
    font-family: 'Asap', sans-serif;
  line-height: 20pt;
  margin-top: 100px;
  color: white;
  background-color: #2E303E;
  padding: 40px;
}


#titulo {
  margin-top: -10px;
  margin-left: 160px;
font-family: 'Asap', sans-serif;
  font-weight: 700;
  font-size: 30px;

}

#texto {
  margin-left: 90px;
font-family: 'Asap', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 30px;
  padding: 30px;

}

#seguir {

text-align: center;
  margin-top: -138px;
font-family: 'Asap', sans-serif;
    font-weight: 700;
    font-size: 30px;
    border: 1px red;
}

#iconos {
  margin-top: 30px;
  margin-left: 540px;
padding-bottom: 50px;
}

#suscribir {

margin-left: 980px;
margin-top: -150px;
  font-family: 'Asap', sans-serif;
      font-weight: 700;
      font-size: 30px;
      border: 1px red;
}

#email{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 10px;
padding-right: 50px;
margin-top: 20px;
float: right;
margin-right: 100px;
}


#boton {
margin-left: 1050px;
margin-top: -200px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 15px;
padding-right: 15px;
margin-top: 25px;
position: relative;
right: 35px;
}
