.silence{
  margin-top: 27px;
  margin-left: 27px;
}

.destacado-silence{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 40px;
  line-height: 20pt;
position: absolute;
margin-top: 440px;
margin-left: 50px;
background-color: #000000;
padding-left: 15px;
padding-right: 15px;
padding-top: 8px;
padding-bottom: 8px;
color: #F4D03F;
}

.texto-silence{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 25px;
  line-height: 20pt;
  margin-left: 27px;
  margin-top: 16px;
}

.chicos{
  float: right;
  margin-right: 26px;
  margin-top: -519px;
}

.destacado-chicos{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 40px;
  line-height: 20pt;
position: absolute;
left: 730px;
margin-top: -108px;
background-color: #000000;
padding-left: 15px;
padding-right: 15px;
padding-top: 8px;
padding-bottom: 8px;
color: #F4D03F;*/
}

.texto-chicos{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 25px;
  line-height: 20pt;
  float: right;
  margin-right: 209px;
  margin-top: -25px;
}

.linea-ganadoras{
  color: #F4D03F;
  width: 475px;
  margin-left: 27px;
  margin-top: 8px;
}

.fecha1{
  color: #F4D03F;
  position: relative;
  top: -500px;
  margin-left: 45px;
  background-color: rgba(0,0,0,0.5);;
  padding-left: 17px;
  margin-right: 1180px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fecha2{
  color: #F4D03F;
  position: relative;
  top: -530px;
  margin-left: 720px;
  background-color: rgba(0,0,0,0.5);;
  padding-left: 17px;
  margin-right: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
}
