.contenedor-imagen{
  position: relative;
  margin-bottom: 20px;
}
.contenedor-imagen:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
}
.portada{
  margin-top: 33px;
  margin-left: 16px;
  display: block;
}
.texto-imagen{
  font-family: 'Asap', sans-serif;
  font-weight: 600;
  color: #fff;
  position: absolute;
  bottom: 20px;
  margin-left: 24px;
  font-size: 25px;
}
